.emergencia{
    margin-left: auto;
}

.modal-title{
    font-size: 26px!important;
}

.modal-msg{
    font-size: 16px;
}

/*39.8x39.8*/
/* Cards */
.imagen{
    /*sino un 10% pero con el media*/
    height: 39.8px;
    width: 39.8px;
    /*margin-left: 20px;*/
}

@media (max-width:769px) {
    .imagen{
        height: 29.8px;
        width: 29.8px;
    }
}

.container{
    margin-top: 1em;
    margin-bottom: 1em;
}
.card{
    background-color: #B89E72!important;
    height: 75vh!important;
    box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-cont{
    margin-top: 1em;
    width: 100%;
}
.card-text{
    /*font-size: 24px;*/
    font-size: 12px;
}
.card-title{
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row-muestreo{
    margin-top: 1em!important;
}
.muestreo{
    background-color:#8fb935;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 7px outset #000000;
}

/*
Para los colores 
Verde #8fb935
Amarillo #e6e22e
Naranja #e09c3b (tal vez?)
Rojo #e64747
*/

.dato{
    font-size: 12px;
}
.void{
    color: #878787;
}
.modal-content{
    background-color: #b3b3b3;
}

.navbar{
    background-color: #846943!important;
}
